html {
  --unit: 64px;
  background-color: white;
  padding: calc(var(--unit) * 0.5);
}

@media (max-width: 768px) {
  html {
    --unit: 32px;
  }
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: var(--unit);
  margin: 0;
  padding: 0;
  line-height: calc(var(--unit) * 1.25);
  font-weight: bold;
  list-style: none;
  transition: all 250ms;
}

ul {
  padding: var(--unit) 0;
}

li span.disabled {
  text-decoration: underline;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

a {
  color: blue;
}

a.back {
  text-decoration: none;
}

h1 img {
  height: var(--unit);
  margin-right: calc(var(--unit) / 4);
  vertical-align: calc(var(--unit) / 4 / 4 * -1);
}

span.secondary {
  font-size: calc(var(--unit) * 0.5);
}
